.venv

.cache

src/merge.py

spotify_updated.csv

__pycache__

db_conexion.py

grammys_updated.csv

merged.csv

grammy_spotify_merged.csv

API_conexion.py

.cache

.vscode

credentials/client_secret.json

credentials/Credentials.py

data/grammys_updated_with_id.csv

.env

data/Grammy_And_Spotify_Merged.csv

data/final_merged_spotify_grammys.csv

